@charset 'utf-8';

.clearfix::after{
  content:'';
  display:none;
  clear:both;
}
html{font-size:14px;}
a{color:black;text-decoration:none;}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Ramaraja&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{font-family:'Roboto','Noto Sans KR';}
.eng{font-family:serif;}    
header{
  background:url('../images/news-bg.jpg') no-repeat center;
  background-size:cover;
  padding-bottom:20px;
}
.container{
  max-width:960px;
  margin:0 auto;
  padding:0 60px;  
}
header>.container{
  display:grid;
  grid-template-columns:200px auto;
  grid-template-rows:100px;
  justify-content:space-between;
  align-items:center;
}
.logo img{width:100%;}
nav li{float:left;margin-left:40px;}
nav a{font-size:18px;text-transform:uppercase;color:#333333;}
nav a:hover{color:#999999;}

h1{text-align:center;font-size:6rem;color:#443322;text-transform: capitalize;}

section{margin-top:40px;}
section>.container{
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
  align-items:flex-start;
}
section>.container>article{
  width:60%;
}
section>.container>article img{
  width:100%;
}
section>.container>aside{
  width:20%;
}

.date_circle{
  float:left;
  width:100px;
  height:100px;
  border-radius:80px;
  background:#0bd;
  display:flex;
  flex-flow:column nowrap;
  justify-content:center;
  align-items: center;
  color:#ffffff;
  font-size:16px;
}
.month_day{
  margin-bottom:10px;
  border-bottom:1px solid #ffffff;
  padding-bottom:6px;
  font-size:2rem;
}
.art_title{float:right;width:calc(100%-120px);}
.large_tit>h2{font-size:2rem;}
.small_tit>p{font-size:1.2rem;}


/* 640px 이하 */
@media(max-width:640px){
  header>.container{
    height:200px;
    grid-template-columns:auto;
    grid-template-rows:100px auto;
    justify-content:center;
    align-items:initial;
    align-content:center;
  }
  h1{font-size:4rem;}

  .side_banner{display:none;}
  section>.container{
    flex-flow:row wrap;
  }
  section>.container>article,
  section>.container>aside{
    width:100%;
  }
}